* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  word-break: normal;
  hyphens: auto;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  word-break: normal;
  hyphens: auto;
}

h5 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  word-break: normal;
  hyphens: auto;
}

p {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
  word-break: normal;
  hyphens: auto;
}

ol, li {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
  word-break: normal;
  hyphens: auto;
  list-style-type: none;
}

.white {
  color: #FFF;
}

.pink {
  color: #ff4da6;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #B1CBBB;
  text-align: center;
  background-image: url("img/baking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  padding: 150px 10px;
}

.image1 {
  background-color: #EAEDF0;
  height: 600px;
  background-image: url("img/mads.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin-top: 10px;
}

.roselle {
  background-color: #FFCC5C;
  border-radius: 50px;
  text-align: center;
  padding: 85px 10px;
  margin-top: 10px;
  overflow: auto;
}

.info {
  background-color: #EEA29A;
  border-radius: 50px;
  text-align: center;
  padding: 80px 0;
  margin-top: 10px;
}

.ingredients {
  background-color: #C94C4C;
  border-radius: 50px;
  text-align: center;
  padding: 30px 0;
  margin-top: 10px;
}

.method {
  background-color: #80CED6;
  border-radius: 50px;
  text-align: center;
  padding: 30px 20px;
  margin-top: 10px;
  overflow: auto;
}

.credit {
  text-align: center;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: white;
}

/* Mobile */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F8F8FF;
  }
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .roselle,
  .info,
  .ingredients,
  .method {
    width: 50%;
  }
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .info,
  .ingredients,
  .method {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
  .roselle {
  height: 200px;
  order: 1;
}
.image1 {
  order: 2;
}
}
