body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #B5E4FF;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 6.2em;
  line-height: 1.2em;
  margin-bottom: 0;
  word-break: normal;
  hyphens: auto;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 0;
}

p {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1em;
line-height: 1.5em;
}

.white {
color: #FFFFFF;
}

.black {
  color: #000
}

.gridcontainer {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.hero-text {
  padding:12% 8% 0;
}

.info {
  margin-top:130px;
}

.rectangle {
  grid-column: span auto;
  height: 1000px;
  top: 1200px;
  background: #FFFFFF;
  position: center;
  border-radius: 150px 150px 0px 0px;
}
