* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 0em;
  word-break: normal;
  hyphens: auto;

  padding: 50px;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 0em;
  word-break: normal;
  hyphens: auto;
  margin-top: 50px;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 0em;
  word-break: normal;
  hyphens: auto;
  text-align: center;
}

p {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
  word-break: normal;
  hyphens: auto;
}

ul, li {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
  word-break: normal;
  hyphens: auto;
  text-align: center;
  list-style-type: none;
}

.white {
  color: #FFFFFF;
}

.page {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #EAEDF0;
}

.container {
  overflow: hidden;
  background-color: #EAEDF0;
  border-radius: 50px;
}

.hero-text {
  height: 100px;
  background-color: #99CCFF;    /* Medium blue */
  border-radius: 500px;
}

.sidebar {
  float: left;
  width: 200px;
  height: 350px;
  background-color: #FFB6C1;
  border-radius: 50px;
  padding: 20px
}

.content {
  float: left;
  width: 650px;
  height: 600px;
  background-color: #F0F8FF;
  border-radius: 50px;
  padding: 20px;
}

p {
  margin-bottom: 20px;
}

.footer {
  overflow: hidden;
}

.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;    /* Medium blue */
  border-radius: 50px;
}
